
*.db
*.db-shm
*.db-wal
*.opendb
*.sln
*.vcxproj
*.filters
*.user
*.ipch
cpp-practice/.vs/cpp-practice/v17/.suo
*.recipe
*.obj
*.idb
*.pdb
*.pdb
*.exe
*.exe
*.lastbuildstate
*.tlog
*.log
*.ilk
*.lock
*.vsidx
